body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 239, 239);
  }
  
  .sphere {
    color: blue;
    border-radius: 50%;
  }
  .sphere img{
    width: 450px;
    /* animation: glow 1.75s ease-in-out infinite alternate; */
    /* transform: width 2s; */
  }

  
  @keyframes glow {
    0% {
      width: 450px;
    } 
    25%{
        width: 550px
    }
    50%{
        width: 500px;
    }
    75%{
        width: 570px;
    }
    100% {
        width: 600px;
    }
  }
  